#Exclude everything
/*

#Except this files:

#Basic files
!/.bashrc
!/.gitignore
!/.gitconfig

#Folders
!/.config
/.config/*
!/.config/i3
!/.config/neofetch
!/.config/polybar
!/.config/rofi
!/.config/alacritty
!/.config/README.md
!/.config/feh
!/.config/gtk-3.0

!/.fonts

!/.local
/.local/*
!/.local/bin
!/.local/README.md

!/.vim
/.vim/*
!/.vim/undodir
/.vim/undodir/*
!/.vim/undodir/.gitkeep
!/.vim/vimrc
!/.vim/README.md

