#Exclude everything
/*

#Except this files:

!/.bashrc
!/.bash_aliases
!/.openv
!/.gitignore
!/.gitconfig
!/.profile

!/.config
/.config/*
!/.config/alacritty
!/.config/bat
!/.config/dunst
!/.config/fastfetch
!/.config/feh
!/.config/gtk-3.0
!/.config/i3
!/.config/picom
!/.config/polybar
!/.config/rofi
!/.config/starship.toml

!/.themes
!/.fonts
!/.icons

!/.local
/.local/*
!/.local/bin
!/.local/share
/.local/share/*
!/.local/share/wallpapers
!/.local/share/palette
/.local/share/palette/*
!/.local/share/palette/dark
!/.local/share/palette/light

!/.local/state
/.local/state/*
!/.local/state/theme-manager
/.local/state/theme-manager/*
!/.local/state/theme-manager/.gitkeep


!/.vim
/.vim/*
!/.vim/undodir
/.vim/undodir/*
!/.vim/undodir/.gitkeep
!/.vim/logs
/.vim/logs/*
!/.vim/logs/.gitkeep
!/.vim/snippets
!/.vim/scripts
!/.vim/vimrc
