#Exclude everything
/*

#Except this files:

#Basic files
!/.bashrc
!/.gitignore
!/.gitconfig
!/.profile

#Folders
!/.config
/.config/*
!/.config/alacritty
!/.config/dunst
!/.config/dunst_toggle_state
!/.config/feh
!/.config/gtk-3.0
/.config/gtk-3.0/bookmarks
!/.config/i3
!/.config/miscellaneous
!/.config/neofetch
!/.config/picom
!/.config/polybar
!/.config/ranger
/.config/ranger/*
!/.config/ranger/rc.conf
!/.config/ranger/plugins
/.config/ranger/plugins/*
/.config/ranger/plugins/.gitkeep
!/.config/rofi
!/.config/starship.toml
!/.config/theme_mode

!/.themes
!/.fonts
!/.icons


!/.local
/.local/*
!/.local/bin
!/.local/README.md
!/.local/share
/.local/share/*
!/.local/share/wallpapers

!/.vim
/.vim/*
!/.vim/undodir
/.vim/undodir/*
!/.vim/undodir/.gitkeep
!/.vim/vimrc
!/.vim/README.md

