configuration {
	modi: "window,run,drun";
  show-icons:    true;
  font: "JetBrains Nerd Font 12";
	line-margin: 10;
	display-ssh:    "";
  display-run:    "";
  display-drun:   "";
  display-window: "";
  display-combi:  "";
}
